/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * HogwartsBattle implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * hogwartsbattle.css
 *
 * HogwartsBattle stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (hogwartsbattle_hogwartsbattle.tpl), and to HTML elements you create dynamically
    (in hogwartsbattle.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

.player_stats {
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: space-between;
}

.player_stat {
    display: flex;
    align-items: center;
}

.health_icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 2px;
    background-image: url(img/sprites.png);
    background-size: 220px;
    background-position-x: 50%;
    vertical-align: bottom;
}

.attack_icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 2px;
    background-image: url(img/sprites.png);
    background-size: 220px;
    background-position-x: 60%;
    vertical-align: bottom;
}

.influence_icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 2px;
    background-image: url(img/sprites.png);
    background-size: 220px;
    background-position-x: 70%;
    vertical-align: bottom;
}

.hand_cards_icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 2px;
    background-image: url(img/sprites.png);
    background-size: 220px;
    background-position-x: 80%;
    vertical-align: bottom;
}

.player_board {
    display: flex;
}

.full-width {
    width: 100%;
}

.player_board .player_board_part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hogwarts-deck {
    width: 100px;
    height: 140px;
    background-image: url('img/hogwarts_back.png');
    background-size: 100%;
}

.card_height {
    height: 140px;
}

.hogwarts_card {
    width: 100px;
    height: 140px;
    background-image: url('img/hogwarts_cards.png');
    background-size: 1600px;
    filter: drop-shadow(2px 2px 2px #444);
}

.acquired_hogwarts_card {
    position: absolute;
}

.discard_pile {
    height: 140px;
}

.game_board {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.revealed_hogwarts_cards {
    margin-left: 20px;
    width: 220px;
    height: 460px;
}

.can_play {
    border-radius: 5px;
    animation: pulse 1s infinite alternate;
    cursor: pointer;
}

.can_acquire {
    border-radius: 5px;
    animation: pulse 1s infinite alternate;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 2px #84ea82;
    }

    100% {
        box-shadow: 0 0 2px 2px #2ebf5b;
    }
}


