/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * HogwartsBattle implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * hogwartsbattle.css
 *
 * HogwartsBattle stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (hogwartsbattle_hogwartsbattle.tpl), and to HTML elements you create dynamically
    (in hogwartsbattle.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

.player_stats {
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: space-between;
}

.player_stat {
    display: flex;
    align-items: center;
}

.hogwarts_background {
    background-image: url(img/play_background.png);
    background-size: auto 100%;
}

.default_background {
    background-image: url(img/background.png);
}

.villain_background {
    background-image: url(img/villain_background.png);
}

.big_card_wrapper {
    width: 200px;
    height: 175px;
    margin-right: 20px;
}

.icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 2px;
    background-image: url(img/sprites.png);
    background-size: 198px;
    vertical-align: bottom;
}

.health_icon {
    background-position: 50% 0;
}

.attack_icon {
    background-position: 60% 0;
}

.influence_icon {
    background-position: 70% 0;
}

.hand_cards_icon {
    background-position: 80% 0;
}

.location_icon {
    background-position: 0 0;
}

.on_hand_icon {
    background-position: 80% 0;
}

.on_discard_icon {
    background-position: 0 100%;
}

.on_acquire_icon {
    background-position: 80% 0;
}

.on_defeat_villain_icon {
    background-position: 30% 100%;
}

.on_loose_health_icon {
    background-position: 40% 100%;
}

.on_location_token {
    background-position: 0 0;
}

.on_draw_card {
    background-position: 80% 0;
}

.large_attack_icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 2px;
    background-image: url(img/sprites.png);
    background-size: 440px;
    background-position: -240px 0;
}

.active_effects {
    display: flex;
    align-items: center;
}

.active_effect {
    display: flex;
    align-items: center;
    margin-right: 5px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px;
    background-color: #d3bf9a;
}

.hogwarts_card_tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separator_line {
    width: 100%;
    height: 2px;
    background-color: #888888;
}

.player_board {
    display: flex;
}

.full-width {
    width: 100%;
}

.player_board .player_board_part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hogwarts-deck {
    width: 100px;
    height: 140px;
    background-image: url('img/hogwarts_back.png');
    background-size: 100%;
}

.card_height {
    height: 140px;
}

.hogwarts_card {
    width: 100px;
    height: 140px;
    background-image: url('img/hogwarts_cards.png');
    background-size: 1600px;
    filter: drop-shadow(2px 2px 2px #444);
}

.hogwarts_card_large {
    width: 200px;
    height: 280px;
    background-image: url('img/hogwarts_cards.png');
    background-size: 3200px;
    filter: drop-shadow(2px 2px 2px #444);
}

.dark_arts_card {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 140px;
    background-image: url('img/dark_arts_cards.png');
    background-size: 560px;
    filter: drop-shadow(2px 2px 2px #444);
}

.location_card {
    width: 200px;
    height: 150px;
    background-image: url(img/locations.png);
    background-size: 400px;
    filter: drop-shadow(2px 2px 2px #444);
}

.location_tokens {
    position: absolute;
    width: 200px;
    height: 150px;
    z-index: 10;
}

.location_4_1 {
    position: absolute;
    width: 18px;
    height: 18px;
    bottom: 7px;
    left: 58px;
}

.location_4_2 {
    position: absolute;
    width: 18px;
    height: 18px;
    bottom: 12px;
    left: 80px;
}

.location_4_3 {
    position: absolute;
    width: 18px;
    height: 18px;
    bottom: 7px;
    left: 102px;
}

.location_4_4 {
    position: absolute;
    width: 18px;
    height: 18px;
    bottom: 12px;
    left: 124px;
}

.villain_back {
    width: 200px;
    height: 150px;
    background-image: url(img/villain_back.png);
    background-size: 200px;
    filter: drop-shadow(2px 2px 2px #444);
}

.villain_back_empty {
    width: 200px;
    height: 150px;
    background-image: url(img/villain_background.png);
    background-size: 200px;
}

.active_villain_background {
    width: 200px;
    height: 256px;
    background-image: url(img/active_villain_background.png);
    background-size: 200px;
}

.active_villain_wrapper {
    position: relative;
    width: 200px;
    height: 150px;
}

.active_villain {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 150px;
    background-image: url(img/villains.png);
    background-size: 600px;
}

.active_hero_drop_zone {
    margin-top: 10px;
    width: 200px;
    height: 94px;
}

.acquired_hogwarts_card {
    position: absolute;
}

.discard_pile {
    height: 140px;
}

.game_board {
    display: flex;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-grow {
    flex-grow: 1;
}

.revealed_hogwarts_cards_wrapper {
    margin-left: 20px;
    width: 220px;
    height: 460px;
}

.revealed_hogwarts_cards {
    margin: 0 5px;
    width: 210px;
}

.active_effects {
    display: flex;
}

.can_play {
    border-radius: 5px;
    animation: pulse 1s infinite alternate;
    cursor: pointer;
}

.can_acquire {
    border-radius: 5px;
    animation: pulse 1s infinite alternate;
    cursor: pointer;
}

.can_attack {
    border-radius: 15px;
    animation: pulse 1s infinite alternate;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 2px #84ea82;
    }

    100% {
        box-shadow: 0 0 2px 2px #2ebf5b;
    }
}


